.bot-container {
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    gap: 10px;

    color: black;
}
  
.bot-message {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    position: relative;
    
    color: black;
    background-color: var(--gray-200);
    
    border-radius: 10px;
    max-width: 80%;

    white-space: pre-wrap;
    
    padding: 8px;
    order: -1;
  
    @media screen and (min-width: 481px) {
        max-width: 80%;
        padding: 10px;
    }
  
    @media screen and (min-width: 769px) {
        max-width: 80%;
        padding: 12px;
    }
  
    &::before {
        content: '';
        position: absolute;
        top: 20px;
        left: 100%;
        
        border-top: 8px solid transparent;
        border-left: 8px solid var(--gray-200);
        border-right: 8px solid transparent;
        border-bottom: 8px solid transparent;
    }
}
  
  .icon {
    color: var(--gray-600);
    background-color: var(--gray-100);

    width: 48px;
    height: 48px;
    
    border-radius: 10px;
    padding: 10px;
  
    @media screen and (min-width: 320px) {
        width: 42px;
        height: 42px;
    }
  
    @media screen and (min-width: 769px) {
        width: 48px;
        height: 48px;
    }
}
  
.icon-user {
    color: white;
    background-color: var(--secondary);
}

.icon-bot {
    color: white;
    background-color: var(--primary);
}

.user-container {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    gap: 10px;
    
    color: black;
}

.user-message {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    position: relative;
    
    border-radius: 10px;
    background-color: var(--gray-200);

    max-width: 80%;
    padding: 8px;

    @media screen and (min-width: 481px) and (max-width: 1025px) {
        max-width: 80%;
        padding: 10px;
    }

    @media screen and (min-width: 769px) {
        max-width: 80%;
        padding: 12px;
    }
    
    &::before {
        content: '';

        position: absolute;
        top: 20px;
        right: 100%;
        
        border-top: 8px solid transparent;
        border-left: 8px solid transparent;
        border-right: 8px solid var(--gray-200);
        border-bottom: 8px solid transparent;   
    }
}