.message-container {
    display: flex;
    flex-direction: column;

    flex: 1 1 auto;

    border-radius: 10px;
    padding: 10px;
    gap: 10px;

    overflow-y: auto;

    @media screen and (min-width: 320px) and (max-width: 480px) {
        border: none;
    }

    @media screen and (min-width: 481px) and (max-width: 768px) {
        padding-left: 10%;
        padding-right: 10%;
        border: none;
    }

    @media screen and (min-width: 769px) {
        padding-left: 15%;
        padding-right: 15%;
    }
}