.bot-container {
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    gap: 10px;
}

.bot-message {
    display: flex;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    border-radius: 10px;
    background-color: #707A81;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-width: 80%;
    padding: 8px;
    order: -1;

    @media screen and (min-width: 481px) {
        max-width: 80%;
        padding: 10px;
    }

    @media screen and (min-width: 769px) {
        max-width: 80%;
        padding: 12px;
    }

    &::before {
        content: '';
        position: absolute;
        top: 20px;
        left: 100%;
        border-top: 8px solid transparent;
        border-left: 8px solid #707A81;
        border-right: 8px solid transparent;
        border-bottom: 8px solid transparent;   
    }
}

.icon {
    color: #3D3F4B;
    background-color: rgb(241, 241, 241);
    width: 52px;
    height: 52px;
    border-radius: 100%;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    @media screen and (min-width: 320px) {
        width: 48px;
        height: 48px;
    }

    @media screen and (min-width: 769px) {
        width: 52px;
        height: 52px;
    }
}