.dark-theme-707A81 {
    background-color: var(--gray-400);
    color: var(--gray-200);

    .container-config-title {
        color: white;
    }
}

.dark-theme {
    background-color: var(--gray-800);
    color: var(--gray-200);

    .status {
        background-color: var(--primary);
    }

    input {
        border: 1px solid var(--gray-600);
        color: var(--gray-200);
        background-color: var(--gray-800);
    }

    #send-button {
        background-color: var(--secondary);
        color: var(--gray-200);
    }

    .new-conversation,
    .contact-phone,
    .contact-clock {
        background-color: var(--primary);
        color: var(--gray-200);
    }

    .menu {
        border-color: var(--gray-200);
    }

    .menu-icon {
        color: var(--gray-200);
    }

    .share-div {
        background-color: var(--gray-600);
    }
}