.dark-theme-707A81 {
    background-color: #474f55;
    color: #c9ced3;

    .bot-message, .user-message {
        background-color: #1E1E1E;
    }

    .bot-message::before {
        border-left: 8px solid #1E1E1E;
    }

    .user-message::before {
        border-right: 8px solid #1E1E1E;
    }
}

.dark-theme {
    background-color: #1E1E1E;
    color: #c9ced3;

    .status {
        background-color: var(--primary);
    }

    form {
        background-color: #1E1E1E;
    }

    input {
        background-color: #474f55;
        color: #c9ced3;
    }

    #send-button {
        background-color: var(--secondary);
        color: #c9ced3;
    }

    .new-conversation,
    .contact-phone,
    .contact-clock {
        background-color: var(--primary);
        color: #c9ced3;
    }

    .menu {
        border-color: #c9ced3;
    }

    .menu-icon {
        color: #c9ced3;
    }
}