footer {
    background-color: var(--gray-50); 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px;
    width: 100%;
    position: relative;
    transition: background-color 0.5s ease-in-out;

    @media screen and (min-width: 769px) {
        padding: 20px;
    }
}

form {
    display: flex;    
    align-items: center;
    width: 100%;
    background-color: var(--gray-50);
    gap: 10px;
    transition: background-color 0.5s ease-in-out;

    @media screen and (min-width: 426px) and (max-width: 768px) {
        width: 95%;
    }

    @media screen and (min-width: 769px) {
        width: 80%;
    }
}

input {
    flex: 1;
    border: none;
    border-radius: 8px;
    padding: 15px; 
    background-color: var(--gray-50);
    color: #333333;
    box-shadow: 0 2px 4px var(--shadow);
    transition: background-color 0.5s ease-in-out;
}

.menu {
    display: flex;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    left: 10px;

    @media screen and (max-width: 1023px) {
        display: none;
    }
}

.menu-icon {
    color: #707070;
}

.menu-icon:hover {
    animation: closing 0.5s ease-in-out infinite;
}

#send-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background-color: var(--primary);
    border-radius: 12px;
    border: none;
    box-shadow: 0 2px 4px var(shadow);
    transition: background-color 0.5s ease-in-out;
}

input:focus {
    outline: none;
}

.loading {
    animation: loading 1s infinite;
}

.sending {
    animation: sending 1s infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes sending {
    0% {
        transform: translateY(-2px);
    }
    50% {
        transform: translateY(2px);
    }
    100% {
        transform: translateY(-2px);
    }
}

@keyframes closing {
    0% {
        transform: translateX(-2px);
    }
    50% {
        transform: translateX(2px);
    }
    100% {
        transform: translateX(-2px);
    }
}