footer {
    background-color: #f0f0f0; 
    display: flex;
    justify-content: center;
    padding: 14px;
    width: 100%;

    transition: background-color 0.5s ease-in-out;

    @media screen and (min-width: 769px) {
        padding: 20px;
    }
}

form {
    display: flex;    
    align-items: center;
    width: 100%;
    background-color: #f0f0f0;
    gap: 10px;

    transition: background-color 0.5s ease-in-out;

    @media screen and (min-width: 426px) and (max-width: 768px) {
        width: 95%;
    }

    @media screen and (min-width: 769px) {
        width: 80%;
    }
}

input {
    flex: 1;
    border: none;
    border-radius: 8px;
    padding: 10px; 
    background-color: #f0f0f0;
    color: #333333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    transition: background-color 0.5s ease-in-out;
}

#send-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background-color: #962038;
    border-radius: 12px;
    border: none;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    transition: background-color 0.5s ease-in-out;
}

#send-button:hover,
#send-button:focus {
    background-color: #861c32;
}

input:focus {
    outline: none;
}

.loading {
    animation: loading 1s infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.sending {
    animation: sending 1s infinite;
}

@keyframes sending {
    0% {
        transform: translateY(-2px);
    }
    50% {
        transform: translateY(2px);
    }
    100% {
        transform: translateY(-2px);
    }
}