/* Header */
header {
    display: flex;
    align-items: center;
    background-color: #962038;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    gap: 10px;
    padding: 10px;
    transition: background-color 0.5s ease-in-out;

    @media screen and (min-width: 320px) and (max-width: 480px) {
        gap: 10px;
        padding: 10px;
        border-bottom: 1px solid #5f5f5f25;
    }

    @media screen and (min-width: 481px) and (max-width: 768px) {
        gap: 16px;
        padding: 14px;
    }

    @media screen and (min-width: 769px) and (max-width: 1024px) {
        flex-direction: column;
        width: 25%;
        gap: 16px;
        padding: 14px;
        border-right: 1px solid #5f5f5f25;
    }

    @media screen and (min-width: 1025px) {
        flex-direction: column;
        width: 25%;
        gap: 16px;
        padding: 20px;
        border-right: 1px solid #5f5f5f25;
    }
}