.container, .container > div{
    display: flex;
    flex-direction: column;

    height: 100dvh;
    width: 100%;
    
    color: white;

    overflow: hidden;
}

.container > div {
    flex: 1;
}

.sub-container {
    flex: 1;
}

@media screen and (min-width: 769px) {
    .container {
        flex-direction: row;
    }
}

@media screen and (min-width: 1025px) {
    .container > div {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}