.user-container {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    gap: 10px;
    
    color: black;
}

.user-message {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    position: relative;
    
    border-radius: 10px;
    background-color: var(--gray-200);

    max-width: 80%;
    padding: 8px;

    @media screen and (min-width: 481px) and (max-width: 1025px) {
        max-width: 80%;
        padding: 10px;
    }

    @media screen and (min-width: 769px) {
        max-width: 80%;
        padding: 12px;
    }
    
    &::before {
        content: '';

        position: absolute;
        top: 20px;
        right: 100%;
        
        border-top: 8px solid transparent;
        border-left: 8px solid transparent;
        border-right: 8px solid var(--gray-200);
        border-bottom: 8px solid transparent;   
    }
}