.user-container {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    gap: 10px;
}

.user-message {
    display: flex;
    align-items: center;

    position: relative;
    flex-wrap: wrap;
    border-radius: 10px;
    background-color: #707A81;
    box-shadow: 0 2px 4px var(--shadow);
    max-width: 80%;
    padding: 8px;

    @media screen and (min-width: 481px) and (max-width: 1025px) {
        max-width: 80%;
        padding: 10px;
    }

    @media screen and (min-width: 769px) {
        max-width: 80%;
        padding: 12px;
    }
    
    &::before {
        content: '';
        position: absolute;
        top: 20px;
        right: 100%;
        border-top: 8px solid transparent;
        border-left: 8px solid transparent;
        border-right: 8px solid #707A81;
        border-bottom: 8px solid transparent;   
    }
}