main {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow-y: auto;
    gap: 10px;
    padding: 10px;
    font-size: 14px;
    background-color: rgb(255, 255, 255);
    transition: background-color 0.5s ease-in-out;

    width: 100%;

    @media screen and (min-width: 320px) and (max-width: 480px) {
        gap: 10px;
        padding: 10px;
        font-size: 12px;
    }

    @media screen and (min-width: 481px) and (max-width: 768px) {
        gap: 16px;
        padding: 14px;
        font-size: 14px;

        padding-left: 10%;
        padding-right: 10%;
    }

    @media screen and (min-width: 769px) {
        gap: 20px;
        padding: 20px;
        font-size: 14px;

        padding-left: 20%;
        padding-right: 20%;
    }
}

.bot-container, .user-container {
    display: flex;
    align-items: stretch;
    gap: 10px;
}

.user-container {
    justify-content: flex-start;
}

.bot-container {
    justify-content: flex-end;
}

.user-message, .bot-message {
    display: flex;
    align-items: center;

    position: relative;
    flex-wrap: wrap;
    border-radius: 10px;
    background-color: #707A81;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-width: 80%;
    padding: 8px;

    @media screen and (min-width: 481px) and (max-width: 1025px) {
        max-width: 80%;
        padding: 10px;
    }

    @media screen and (min-width: 769px) {
        max-width: 80%;
        padding: 12px;
    }
}

.bot-message::before{
    content: '';
    position: absolute;
    top: 35%;
    left: 100%;
    border-top: 8px solid transparent;
    border-left: 8px solid #707A81;
    border-right: 8px solid transparent;
    border-bottom: 8px solid transparent;   
}

.user-message::before{
    content: '';
    position: absolute;
    top: 35%;
    right: 100%;
    border-top: 8px solid transparent;
    border-left: 8px solid transparent;
    border-right: 8px solid #707A81;
    border-bottom: 8px solid transparent;   
}

.bot-message {
    order: -1;
}

.icon {
    color: #3D3F4B;
    background-color: rgb(241, 241, 241);
    width: 52px;
    height: 52px;
    border-radius: 100%;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    @media screen and (min-width: 320px) and (max-width: 1025px) {
        width: 48px;
        height: 48px;
    }

    @media screen and (min-width: 769px) and (max-width: 1025px) {
        width: 52px;
        height: 52px;
    }
}

.empty-main-message {
    color: rgb(199, 199, 199);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 20px;

    @media screen and (min-width: 320px) and (max-width: 480px) {
        font-size: 12px;
    }

    @media screen and (min-width: 481px) and (max-width: 768px) {
        font-size: 14px;

        padding-left: 10%;
        padding-right: 10%;
    }

    @media screen and (min-width: 769px) {
        font-size: 16px;

        padding-left: 20%;
        padding-right: 20%;
    }
} 

@media screen and (min-width: 769px) {
    ::-webkit-scrollbar {
        width: 8px;
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: #5f5f5f25;
        border-radius: 6px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: #5f5f5f65;
    }

    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    ::-webkit-scrollbar-track-piece {
        background-color: #f1f1f1;
    }

    ::-webkit-scrollbar-corner {
        background: #f1f1f1;
    }  
}

.empty-suggestion-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.empty-suggestion {
    border-radius: 10px;
    border: 1px solid;
    padding: 10px;
}

.empty-suggestion > h1 {
    font-size: 14px;
    font-weight: 500;
    /* color: #5f5f5f65; */

    @media screen and (min-width: 320px) and (max-width: 480px) {
        font-size: 12px;
    }

    @media screen and (min-width: 481px) and (max-width: 768px) {
        font-size: 14px;
    }

    @media screen and (min-width: 769px) {
        font-size: 16px;
    }
}

.empty-suggestion > p {
    font-size: 12px;
    font-weight: 400;
    /* color: #5f5f5f65; */

    @media screen and (min-width: 320px) and (max-width: 480px) {
        font-size: 10px;
    }

    @media screen and (min-width: 481px) and (max-width: 768px) {
        font-size: 12px;
    }

    @media screen and (min-width: 769px) {
        font-size: 14px;
    }
}