header {
    display: flex;
    align-items: center;
    background-color: #962038;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    gap: 10px;
    padding: 10px;
    transition: background-color 0.5s ease-in-out;

    @media screen and (min-width: 320px) and (max-width: 480px) {
        gap: 10px;
        padding: 10px;
        border-bottom: 1px solid #5f5f5f25;
    }

    @media screen and (min-width: 481px) and (max-width: 768px) {
        gap: 16px;
        padding: 14px;
    }

    @media screen and (min-width: 769px) and (max-width: 1024px) {
        flex-direction: column;
        width: 25%;
        gap: 16px;
        padding: 14px;
        border-right: 1px solid #5f5f5f25;
    }

    @media screen and (min-width: 1025px) {
        flex-direction: column;
        width: 25%;
        gap: 16px;
        padding: 20px;
        border-right: 1px solid #5f5f5f25;
    }
}

.detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
    
    @media screen and (min-width: 320px) and (max-width: 768px) {
        flex: 1 1 auto;
    }

    @media screen and (min-width: 769px) and (max-width: 1024px) {
        align-items: center;
        gap: 4px;
    }

    @media screen and (min-width: 1025px) {
        align-items: center;
        gap: 6px;
    }
}

.bot-name {
    font-weight: 700;
    font-size: 14px;

    @media screen and (min-width: 769px) {
        font-size: 16px;
        text-align: center;
    }
}

.status {
    background-color: #268035;
    color: white;
    font-weight: 700;
    border-radius: 14px;
    font-size: 8px;
    padding: 4px 8px;
    transition: background-color 0.5s ease-in-out;

    @media screen and (min-width: 769px) {
        font-size: 10px;
        padding: 4px 8px;
    }
}

.theme {
    display: flex;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.information-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    gap: 10px;
    width: 100%;
    padding: 20px;
    
    @media screen and (max-width: 768px) {
        display: none;
    }

    @media screen and (min-width: 769px) and (max-width: 1024px) {
        padding: 10px;
        gap: 5px;
    }
}

.information-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.information-title > h1 {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
}

.information-listener {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @media screen and (min-width: 769px) and (max-width: 1024px) {
        gap: 5px;
    }
}

.information-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #707070;
    border-radius: 8px;

    color: white;
    text-decoration: none;

    @media screen and (min-width: 769px) and (max-width: 1024px) {
        padding: 5px;
        gap: 5px;
    }
}

.information-detail > h2 {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @media screen and (min-width: 769px) and (max-width: 1024px) {
        font-size: 12px;
        max-width: 80%;
    }
}